*{
  margin: 0;
  padding:0;
}

body{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1000;

}


p{
  font-weight: 50;
  font-size: 12px;
  font-family: 'Didact Gothic', sans-serif;
  line-height: 2;
  letter-spacing: 2;
  /* font-family: 'CopyTrial-Medium', sans-serif; */
  text-decoration: none;
  color: black;
}

a{
  font-size: 11px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: normal;
  letter-spacing: 5px;
  text-decoration: none;
  color: black;
}


/* should be seperate ideas but cascades to all in the language div, non harmful*/
/* #FR:hover{
font-style: oblique;
}

#lang{
  float: right;
  margin-right: 1%;
  width: 30%;
} */

#gallery{
  background-color: white;
  border: 1px solid black;
  padding: 5px;

  width:80%;
  height:190%;
  margin-top: 8%;
  margin-right: 2%;
  color: blue;
  float: right;
}

#funding{
  width:40%;
  float:right;
  overflow:hidden;
}
#hours{
  width:40%;
  float:left;
  overflow:hidden;
}

footer{
 position: relative;
  background-color: black;
  width:100%;
  height:10%;
  margin-bottom: -2%;
}

#smBar{
  float: left;
  margin-left: 45%;
  height:10%;
  padding: 5px;
}

.smIcon{
  width: 45px;
  height: 45px;
  border: none;
  cursor: crosshair;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
background-color: transparent;
}

.smIcon:hover{
  box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24), 0 17px 50px 0 rgba(255,255,255,0.19);
}


#facebook{
  background-image: url('assets/facebook.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#instagram{
  background-image: url('assets/instagram.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#vimeo{
  background-image: url('assets/vimeo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
