*{
  margin: 0;
  padding:0;
}

body{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1000;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

p{
  /* font-weight: 50; */
  font-size: 14px;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  letter-spacing: 1.5;
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.92);
  padding: 3%;
}

a{
  font-size: 20px;
  /* font-family: 'Didact Gothic', sans-serif; */
  /* font-family: 'Cabin Sketch', cursive; */
/* font-family: 'Londrina Shadow', cursive; */
/* font-family: 'Dosis', sans-serif; */
 font-family: NAV;
  font-weight: bold;
  letter-spacing: 5px;
  text-decoration: none;
  color: black;
  text-align: right;
  text-shadow: 1px 1px white;

}


@font-face {
    font-family: NAV;
    src: url("fonts/Lack-Line-Regular.otf") format("opentype");
}


/* should be seperate ideas but cascades to all in the language div, non harmful*/
 /* #FR:hover{
font-style: oblique;
} */

#lang{
  float: right;
  margin-right: 1%;
  width: 30%;

  font-size: 12px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: normal;
  letter-spacing: 5px;
  text-decoration: none;
  color: black;
}

#gallery{
  background-color: transparent;
  /* border: 1px solid black; */
  padding: 5px;

  width:70%;
  /* height:190%; */
  margin-top: 5%;
  margin-right: 3%;
  color: blue;
  float: right;
}


.boxTitleRed{
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-family: NAV;
  line-height: 2;
  letter-spacing: 5;
  /* font-family: 'CopyTrial-Medium', sans-serif; */
  text-decoration: none;
  /* color: #fc1364; */
  color: white;
  background-color: rgba(252, 19, 100, 0);

}

.boxTitleYellow{
  width:100%;
  text-align: right;
  right:0;
  font-size: 24px;
  font-family: NAV;
  line-height: 2;
  letter-spacing: 5;
  text-decoration: none;
  /* color: #efc458; */
  color: white;
    background-color: rgba(239, 196, 88, 0.0);

}

.boxTitleBlue{
  width: 100%;
text-align: left;
  font-size: 24px;
  font-family: NAV;
  line-height: 2;
  letter-spacing: 5;
  /* font-family: 'CopyTrial-Medium', sans-serif; */
  text-decoration: none;
  /* color: #114251; */
    color: white;
      background-color: rgba(17, 66, 81, 0);

}

.boxRed{
  width:75%;
  float:left;
  overflow:hidden;
  margin-left: 0%;
  padding: 3%;
  background-color: rgba(252, 19, 100, 0.9);
  margin-bottom: 7%;
}

.boxYellow{
  width:75%;
  float:right;
  overflow:hidden;
  padding: 3%;
  background-color: rgba(239, 196, 88,0.9);
  margin-bottom: 7%;
}

.boxBlue{
  width:75%;
  float:left;
  overflow:hidden;
  margin-left: 0%;
  padding: 3%;
  background-color: rgba(17, 66, 81, 0.9);
  margin-bottom: 7%;
}

#artists{
  width:40%;
  float:left;
  overflow:hidden;
  margin-left: 15%;
  padding: 3%;
  background-color: transparent;
  border: 1px solid black;

}


footer{
 position: relative;
  background-color: black;
  width:100%;
  height:10%;
  margin-bottom: -2%;
}

#smBar{
  float: left;
  margin-left: 45%;
  height:10%;
  padding: 5px;
}

.smIcon{
  width: 45px;
  height: 45px;
  border: none;
  cursor: crosshair;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
background-color: transparent;
}

.smIcon:hover{
  box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24), 0 17px 50px 0 rgba(255,255,255,0.19);
}


#facebook{
  background-image: url('assets/facebook.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#instagram{
  background-image: url('assets/instagram.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#vimeo{
  background-image: url('assets/vimeo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* @media only screen and (min-width: 1000px) {
  p{
    font-size: 12px;
  }
  a{
    font-size: 18px;
  }

} */
