*{
  margin: 0;
  padding:0;
}

p{
  color: black;
  letter-spacing: 5;
}

a{
  /* font-family: monospace; */
  font-weight: 50;
  font-size: 12px;
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 5;
  text-decoration: none;
  color: black;
}


/* should be seperate ideas but cascades to all in the language div, non harmful*/
#FR:hover{
font-style: oblique;
}

#lang{
  float: right;
  margin-right: 1%;
  width: 30%;
}
