
a{
  /* font-family: monospace; */
  font-weight: 50;
  font-size: 15px;
  font-family: 'Didact Gothic', sans-serif;
  /* font-family: 'CopyTrial-Medium', sans-serif; */
  text-decoration: none;
  color: black;
}


/* should be seperate ideas but cascades to all in the language div, non harmful*/
#FR:hover{
font-style: oblique;
}

#lang{
  float: right;
  margin-right: 1%;
  width: 30%;
}
